<!DOCTYPE html>
<head>
    <title>
        Blog Site
    </title>
    
    <link rel = "stylesheet" href = "/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
   
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel = "stylesheet" href = "/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    
</head>
<body class = "d-flex flex-column vh-100">

    