<%- include('../partials/header'); -%>

<div class = "container2">
    <h1><span id = "p_name" data-aos="zoom-out">College</span> Engagement</h1>
    <div class = "main">
        <a href = "/user/login" >Login</a> 
        <a href = "/user/signup" >Register</a> 
        <a href = "/blog" >explore</a> 
    </div>
    <div class = "wrapper">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        
    </div>
</div>
<%- include('../partials/script'); -%>